#!/usr/bin/env ruby

# A few helpful tips about the Rules file:
#
# * The string given to #compile and #route are matching patterns for
#   identifiers--not for paths. Therefore, you can’t match on extension.
#
# * The order of rules is important: for each item, only the first matching
#   rule is applied.
#
# * Item identifiers start and end with a slash (e.g. “/about/” for the file
#   “content/about.html”). To select all children, grandchildren, … of an
#   item, use the pattern “/about/*/”; “/about/*” will also select the parent,
#   because “*” matches zero or more characters.

## Compilation Phase

compile "//stylesheet/|/syntax//" do nothing; end
compile '/asciidoc/' do nothing; end
compile '/ad/' do nothing; end

# Default
compile '*' do
  unless item.binary?
    case item[:extension]
    when /markdown|md|wiki/
      filter :rdiscount
      filter :typogruby
    when "asciidoc"
      filter :asciidoc
      filter :cleanup
    else
      filter :erb
      filter :colorize_syntax,
        :default_colorizer => :pygmentize
    end
    layout 'default'
  end
end

## Routing Phase

route '/stylesheet/' do
  '/style.css'
end

route '/syntax/' do
  file_name(item)
end

route '/asciidoc/' do
  '/asciidoc.js'
end

route '/ad/' do
  '/asciidoc.css'
end


route '/images/icons/callouts/*' do
  mkdir_p '/images/icons/callouts/'
end

route '/images/icons/*' do
  mkdir_p '/images/icons/'
end

route '*' do
  file_for(item)
end

## Layout Phase

layout '*', :erb
