#!/usr/bin/env ruby

# A few helpful tips about the Rules file:
#
# * The string given to #compile and #route are matching patterns for
#   identifiers--not for paths. Therefore, you can’t match on extension.
#
# * The order of rules is important: for each item, only the first matching
#   rule is applied.
#
# * Item identifiers start and end with a slash (e.g. “/about/” for the file
#   “content/about.html”). To select all children, grandchildren, … of an
#   item, use the pattern “/about/*/”; “/about/*” will also select the parent,
#   because “*” matches zero or more characters.

## Compilation Phase

compile '/stylesheet|syntax/' do nothing; end

compile '/asciidoc/*' do
  unless item.binary?
    filter :asciidoc
    layout 'default'
  end
end

compile '/markdown/*' do
  unless item.binary?
    # FIXME: kramdown is causing an encoding incompatibility problme
    #filter :kramdown
    layout 'default'
  end
end

compile '*' do
  unless item.binary?
    filter :erb
    filter :colorize_syntax,
           :default_colorizer => :pygmentize
    layout 'default'
  end
end

## Routing Phase

route '/stylesheet|syntax/' do
  file_name(item)
end

route '/images/icons/callouts/*' do
  '/images/icons/callouts/'
end

route '/images/icons/*' do
  '/images/icons/'
end

route '*' do
  file_for(item)
end

## Layout Phase

layout '*', :erb
