    <div id="sidebar">
      <h2><a href="/">Home</a></h2>
      <%
        tags.sort.each do |tag|
      %>
      <ul class='tag_group'>
        <h3><%= link_for_tag(tag, "/tag/") %></h3><%
              articles = sorted_articles & items_with_tag(tag)
              articles.each do |item| %>
        <li><a href="<%= item.identifier %>"><%= item[:title] %></a></li><% end %>
      </ul><!-- tag_group -->
      <% end %>
      <ul>
        <h2>nanoc</h2>
        <li><a href="http://nanoc.stoneship.org/docs/">Documentation</a></li>
        <li><a href="http://nanoc.stoneship.org/docs/3-getting-started/">Getting Started</a></li>
        <li><a href="http://groups.google.com/group/nanoc/">Discussion Group</a></li>
        <li><a href="irc://chat.freenode.net/#nanoc">IRC Channel</a></li>
        <li><a href="http://projects.stoneship.org/trac/nanoc/">Wiki</a></li>
      </ul>
    </div><!-- sidebar -->
